.sitemap{
    margin-bottom: 80px;
    .sitemap-container{
        h3{
            margin-bottom: 0px;
        }
        ul{
            padding-left: 22px;
            margin: 10px 0 30px;
            li{
                a{
                    font-size: 21px;
                    line-height: 33px;
                    color: $default;
                    text-decoration: underline;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    }
}