.contact-block{
    position: relative;
    margin-bottom: 40px;
    @media only screen and (max-width:$mobile_breakpoint){
        margin-bottom: 30px;
    }
    .contact-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        @media only screen and (max-width:$small_screen_breakpoint){
            grid-template-columns: 1fr;
            gap: 30px;
        }
        .contact-info{
            h2{
                margin-bottom: 15px;
            }
            p{
                font-size: 25px;
                line-height: 35px;
                font-weight: 600;
                color: $default;
                @media only screen and (max-width:$mobile_breakpoint){
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            .inner{
                margin-top: 80px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;
                @media only screen and (max-width:$small_screen_breakpoint){
                    margin-top: 40px;
                }
                @media only screen and (max-width:$mobile_breakpoint){
                    margin-top: 20px;
                    grid-template-columns: 1fr;
                    gap:30px;
                }
                a,span{
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: $default;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }
}
